<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>

<template id="pagination-template">
    <div class="pagination">
        <div class="pagination__left">
            <a
                href=""
                @click.prevent="changePage(prevPage)"
                v-if="hasPrev()"
            >Предыдущая</a>
        </div>
        <div class="pagination__middle">
            <ul>
                <li v-if="hasFirst()">
                    <a href="" @click.prevent="changePage(1)">1</a>
                </li>
                <li v-if="hasFirst()">...</li>
                <li v-for="page in pages">
                    <a
                        href=""
                        @click.prevent="changePage(page)"
                        :class="{current: current === page}"
                    >{{page}}</a>
                </li>
                <li v-if="hasLast()">...</li>
                <li v-if="hasLast()">
                    <a href="" @click.prevent="changePage(totalPages)">{{totalPages}}</a>
                </li>
            </ul>
        </div>
        <div class="pagination__right">
            <a
                href=""
                @click.prevent="changePage(nextPage)"
                v-if="hasNext()"
            >Следующая</a>
        </div>
    </div>
</template>

<div id="app">
    <h1 class="title-center">VueJS photo pagination</h1>

    <section class="grid">
        <div class="grid__item card" v-for="(photo, id) in photos">
            <div class="card__body" @click="selectPhoto(photo.id)">
                <img :src="photo.urls.small" alt="">
            </div>
            <div class="card__footer media">
                <img :src="photo.user.profile_image.small" alt="image" class="media__obj">
                <div class="media__body">
                    <a :href="photo.user.portfolio_url" target="_blank">
                        {{photo.user.name}}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <pagination
        :current="currentPage"
        :total="totalPhotos"
        :perPage="perPage"
        @page-change="fetchPhotos"
    ></pagination>

    <div class="modal-wrapper" v-if="showModal">
        <div class="shadow" @click="toggleModal"></div>
        <div class="modal-photo">
            <button class="modal-photo__close" @click="toggleModal">x</button>
            <section class="modal-photo__content">
                <img
                    class="modal-photo__image"
                    :src="currentPhoto.urls.regular"
                    alt="">
            </section>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="./pagination.js"></script>
<script src="./app.js"></script>
</body>
</html>
